grant {
	permission java.net.SocketPermission "*:1024-65535", "connect,resolve";
	permission java.net.SocketPermission "*:*", "connect,accept";
	permission java.util.PropertyPermission "*", "read,write";
};
